:root {
    --mainBlue: #007bff;
    --secondaryBlue: rgb(3, 112, 171);
    --mainGrey: #ece8dc;
    --mainWhite: #fff;
    --mainDark: #222;
}

html {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background: var(--mainWhite);
    color: var(--mainDark);
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Courier New', Courier, monospace !important;
    letter-spacing: 0.25rem !important;
}

.text-blue {
    color: var(--mainBlue);
}

.cart-icon {
    cursor: pointer;
    color: #940002;
    font-size: 2rem;
}

.default-background, .about-background {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(3, 112, 171, 0.5), rgba(3, 112, 171, 0.5));
    opacity: 1 !important;
    background-position: center;
    background-size: cover;
}

.about-background {
    min-height: 60vh;
}

.btn-blue {
    color: var(--secondaryBlue);
    border-color: var(--secondaryBlue);
}

.btn-blue:hover {
    background: var(--secondaryBlue);
    color: white;
}

.footer {
    background: var(--secondaryBlue)
}

.services, .request {
    background: white;;
}




.contact-icon {
    background: rgb(3, 112, 171);
    border-radius: 50%;
    padding: 20px;
    width: 100px;
    height: 100px;
    color: white;
}

.iframe-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 40%;
    /* 16:9 Aspect Ratio */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    margin: 0 auto;
    height: 60%;
    border: none;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    #title {
        font-size: 25px;
    }
}

@media only screen and (max-width: 900px) {
    .header {
        text-align: center;
    }
}
@media only screen and (max-width: 900px) {
    .header-btn {
        display: block;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 900px) {
   .responsive-iframe {
       position: absolute;
       top: 0;
       left: 0;
       bottom: 0;
       right: 0;
       width: 80%;
       margin: 0 auto;
       height: 100%;
       border: none;
   }
}