:root {
    --mainBlue: #007bff;
    --secondaryBlue: rgb(3, 112, 171);
    --mainGrey: #ece8dc;
    --mainWhite: #fff;
    --mainDark: #222;
}

html {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background: var(--mainWhite);
    color: var(--mainDark);
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Courier New', Courier, monospace !important;
    letter-spacing: 0.25rem !important;
}

.text-blue {
    color: var(--mainBlue);
}

.cart-icon {
    cursor: pointer;
    color: var(--mainBlue);
    font-size: 2rem;
}

.default-background, .about-background {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(3, 112, 171, 0.5), rgba(3, 112, 171, 0.5));
    opacity: 1 !important;
    background-position: center;
    background-size: cover;
}

.about-background {
    min-height: 60vh;
}

.btn-yellow {
    color: var(--mainBlue);
    border-color: var(--mainBlue);
}

.btn-yellow:hover {
    background: var(--secondaryBlue);
    color: white;
}

.footer {
    background: var(--secondaryBlue)
}

.services, .request {
    background: var(--mainGrey);
}


/* Media Queries */
@media only screen and (max-width: 600px) {
    #title {
        font-size: 25px;
    }
}